.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(168, 158, 13);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-content{
    position: relative;
    padding: 20px 0;
    background-color: white;
    width: 80%;
    margin: 10% auto;
    animation: modal 0.3s ease-in;
}

@keyframes modal {
    from{
        top: -200px;
        opacity:0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}